@import url("theme.css");

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

a {
	word-wrap: break-word;
}


.fa-home:before, .icon-home:before {
    content:"";
}

.fa:before, .wy-menu-vertical li span.toctree-expand:before, .wy-menu-vertical li.on a span.toctree-expand:before, .wy-menu-vertical li.current>a span.toctree-expand:before, .rst-content .admonition-title:before, .rst-content h1 .headerlink:before, .rst-content h2 .headerlink:before, .rst-content h3 .headerlink:before, .rst-content h4 .headerlink:before, .rst-content h5 .headerlink:before, .rst-content h6 .headerlink:before, .rst-content dl dt .headerlink:before, .rst-content p.caption .headerlink:before, .rst-content table>caption .headerlink:before, .rst-content .code-block-caption .headerlink:before, .rst-content tt.download span:first-child:before, .rst-content code.download span:first-child:before, .icon:before, .wy-dropdown .caret:before, .wy-inline-validate.wy-inline-validate-success .wy-input-context:before, .wy-inline-validate.wy-inline-validate-danger .wy-input-context:before, .wy-inline-validate.wy-inline-validate-warning .wy-input-context:before, .wy-inline-validate.wy-inline-validate-info .wy-input-context:before {
    display:none!important;
}

//.wy-nav-content { background:#f4f4f4; }
.wy-nav-content a { color:#893025; }
.wy-nav-content a:visited { color:#893025; }

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a { color:#303030; }

//.wy-menu-vertical li.current { background:#f4f4f4; }

/*
.wy-nav-side { background:#303030; }

.wy-menu-vertical a { color:#f4f4f4; }

*/